.accordion-header {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 950px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion-header:hover {
    background-color: #ccc;
}
  
.accordion-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
.accordion-header::after {
    content: '\0279C';
    font-size: 24px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active::after {
    content: "\0279C";
    transform: rotate(90deg); 
}


