.accordion-header {
    font-size:18px;
    font-weight: bold;
    background-color: rgb(160, 115, 202);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 850px;
    text-align: left;
    border: none;
    transition: 0.4s;
    margin: 10px 0px;
}
.active, .accordion-header {
    background-color:rgb(160, 115, 202);
}
.accordion-content {
    padding: 0 18px;
    background-color: rgb(160, 115, 202);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-content .avatar input{
    width: 150px;
    height: 110px;
    text-align: center;
    font-weight: bold;
    margin-top: 17px;
}
/* .accordion-content .inputs{
    display: block;
} */
.accordion-content input{
    margin: 2px 5px;
    padding: 9px 9px;
    background-color: white;
    width: 165px;
    font-weight: bold;
}
.accordion-header:after {
    content: '+'; 
    font-size: 24px;
    color: white;
    position: relative;
    margin-left: 760px;
} 
.active:after {
    content: "-"; 
}
